{% extends 'base.html.twig' %}

{% block body %}
<section class="menu">
    <div class="menu-item">
        <a href="{{ path('estimates') }}">Voir mes devis</a>
    </div>
    <div class="menu-item">
        <a href="{{ path('estimate_create') }}">Créer un devis</a>
    </div>
    <div class="menu-item"></div>
</section>
{% endblock %}