<div class="filter-form">
    <h2>Trier</h2>
    {{ form_start(form, {'attr': {'class': 'filter-form-flex'}} ) }}
    {{form_row(form.type)}}
    <br>
    {{form_row(form.submit)}}
    {{form_end(form)}}
</div>