:root {
  //var(--body-bg): url("../images/texture.webp") no-repeat fixed;
  //var(--body-bg)-small: url("../images/texture-small.webp") no-repeat fixed;
  --body-bg: rgb(185, 198, 201);
  --primary-color: rgb(20, 22, 26);
  --secondary-color: rgb(255, 255, 255);
  --transition-time: 0.5s;
}

body,
html {
  overflow: hidden;
}

.flex {
  display: flex;
}

table {
  width: 100%;
  table-layout: fixed;
  overflow-wrap: break-word;
}

table thead,
table tbody tr td {
  text-align: center;
}

.hr {
  height: 1px;
  border: 0;
  width: 90%;
  margin: 20px auto;
  background: rgb(29, 29, 29);
  background: radial-gradient(circle, rgb(8, 8, 8) 0%, rgba(219, 219, 219, 0.144) 50%, rgba(209, 209, 209, 0) 100%);
}

/*
***********************************
CUSTOM BTN
***********************************
*/
.custom-btn {
  font-weight: bold;
  border: 1px solid #5a5a5a;
  border-radius: 15px;
  padding: 0.5em;
}
