:root {
  --body-bg: radial-gradient(circle, rgba(34,38,41,1) 0%, rgb(30, 31, 32) 100%);
  --form-bg: #c2c9d0;
  --primary-color: rgb(228, 196, 19);
  --secondary-color: rgb(255, 255, 255);
  --tertiary-color: rgb(22, 23, 26);
  --container-color: #699be71c;
  --transition-time: 0.5s;
}

body {
    height: 100vh;
    background: var(--body-bg);
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
}

html {
  scroll-behavior: smooth;
}

.flex {
  display: flex;
}


table {
  width: 100%;
  table-layout: fixed;
  overflow-wrap: break-word;
}

table thead,
table tbody tr td {
  text-align: center;
}

input, textarea {
  border-radius: 14px;
  padding: .4em;
  outline: none;
  border: none;
}

ul, ul li {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color)
}

a {
    text-decoration: none;
    color: var(--bg-color);

    &:hover {
        color: var(--secondary-color);
    }
}

p, label, tr th, tr td {
  color: var(--secondary-color);
}

.hr {
  height: 1px;
  border: 0;
  width: 90%;
  margin: 20px auto;
  background: rgb(29, 29, 29);
  background: radial-gradient(circle, rgb(8, 8, 8) 0%, rgba(219, 219, 219, 0.144) 50%, rgba(209, 209, 209, 0) 100%);
}

/*
***********************************
CUSTOM BTN
***********************************
*/
.custom-btn {
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid #5a5a5a;
  margin: 0 10px;
  border-radius: 15px;
  padding: 0.5em;
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  img {
    width: 30px;
  }
  &:hover {
    background-color: var(--primary-color);
  }
}
