/*
***********************************
MEDIA QUERIES
***********************************
*/
:root {
  --body-bg: radial-gradient(circle, rgba(34,38,41,1) 0%, rgb(30, 31, 32) 100%);
  --form-bg: #c2c9d0;
  --primary-color: rgb(228, 196, 19);
  --secondary-color: rgb(255, 255, 255);
  --tertiary-color: rgb(22, 23, 26);
  --container-color: #699be71c;
  --transition-time: 0.5s;
}

body {
  height: 100vh;
  background: var(--body-bg);
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}

body,
html {
  overflow: hidden;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

table {
  width: 100%;
  table-layout: fixed;
  overflow-wrap: break-word;
}

table thead,
table tbody tr td {
  text-align: center;
}

input, textarea {
  border-radius: 14px;
  padding: .4em;
  outline: none;
  border: none;
}

ul, ul li {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
}

a {
  text-decoration: none;
  color: var(--bg-color);
}

a:hover {
  color: var(--secondary-color);
}

p, label, tr th, tr td {
  color: var(--secondary-color);
}

.hr {
  height: 1px;
  border: 0;
  width: 90%;
  margin: 20px auto;
  background: #1d1d1d;
  background: radial-gradient(circle, #080808 0%, rgba(219, 219, 219, 0.144) 50%, rgba(209, 209, 209, 0) 100%);
}

/*
***********************************
CUSTOM BTN
***********************************
*/
.custom-btn {
  display: inline-block;
  font-weight: bold;
  border: 1px solid #5a5a5a;
  margin: 0 10px;
  border-radius: 15px;
  padding: 0.5em;
  background-color: var(--secondary-color);
}

.custom-btn .custom-btn-center {
  margin: auto;
}

.custom-btn img {
  width: 30px;
}

.custom-btn:hover {
  background-color: var(--primary-color);
}

/*
***********************************
LOGO
***********************************
*/
.logo img {
  width: 88px;
}

/*
***********************************
MENU
***********************************
*/
.menu {
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
  overflow-y: auto;
  -webkit-transition: ease-in-out 0.22s;
  transition: ease-in-out 0.22s;
}

.menu .menu-item {
  margin-top: 20px;
  cursor: pointer;
  font-size: 1.6em;
  color: var(--primary-color);
}

.menu .menu-item:hover {
  font-weight: bold;
  color: var(--secondary-color);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.493);
  -webkit-transition: ease-in-out 0.22s;
  transition: ease-in-out 0.22s;
}

@media (min-width: 300px) and (max-width: 576px) {
  .menu .menu-item {
    margin-top: 20% !important;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .menu .menu-item {
    margin-top: 20% !important;
  }
}

.nav-link {
  font-weight: bold !important;
}

.large-nav {
  margin: 0 250px;
}

@media (min-width: 300px) and (max-width: 576px) {
  .large-nav {
    margin: 0;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .large-nav {
    margin: 0;
  }
}

/*
***********************************
FLEX
***********************************
*/
.flex-center-section {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
  overflow: auto;
}

/*
***********************************
ESTIMATE
***********************************
*/
/*FILTER*/
.filter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter-form-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
}

.filter-form-flex div {
  margin-right: 30px;
}

.new-estimate-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.new-estimate-form .tags li div div {
  margin-top: 15px;
}

.flex-center-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
  overflow: auto;
}

.estimate {
  height: 65vh;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 5%;
}

@media (min-width: 300px) and (max-width: 576px) {
  .estimate {
    height: 78vh;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .estimate {
    height: 78vh;
  }
}

.estimate-price {
  font-weight: bold;
}

label {
  width: 100%;
}

.estimate-tva {
  margin-bottom: 2em;
}

.estimate-line-line textarea {
  width: 380px;
}

.edit-estimate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-border-content {
  height: 80vh;
  overflow-y: scroll;
  border-radius: 10px;
  background-color: var(--container-color);
  color: var(--secondary-color);
}

@media (min-width: 1280px) {
  .main-border-content {
    border: solid var(--form-bg);
    padding: 3em;
  }
}

@media (min-width: 992px) and (max-width: 1280px) {
  .main-border-content {
    border: solid var(--form-bg);
    padding: 3em;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .main-border-content {
    border: solid var(--form-bg);
    padding: 3em;
  }
}

@media (min-width: 300px) and (max-width: 576px) {
  .main-border-content {
    padding: 2em;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .main-border-content {
    padding: 2em;
  }
}

.tags {
  margin: 20px;
}

.add-estimate-line-btn {
  display: table-cell;
  color: var(--tertiary-color);
}

/*
***********************************
CUSTOMER
***********************************
*/
.customers-list {
  color: var(--primary-color);
  font-size: 1.3em;
}

/*
***********************************
USER INFOS
***********************************
*/
@media (min-width: 300px) and (max-width: 576px) {
  .user-infos {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .user-infos {
    display: none;
  }
}

.user-infos,
.customer-infos {
  line-height: 0.8em;
}

/*
***********************************
SEARCH & CONTROL
***********************************
*/
.main-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-row div {
  color: var(--secondary-color);
}

/*
***********************************
FOOTER
***********************************
*/
.main-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-nav {
  margin-top: 10px;
}

/*
***********************************
BOOTSTRAP
***********************************
*/
.card {
  background-color: var(--form-bg) !important;
  margin-bottom: 2em;
}
/*# sourceMappingURL=style.css.map */