/*
***********************************
MEDIA QUERIES
***********************************
*/
:root {
  --body-bg: #e0e0e0;
  --form-bg: #c2c9d0;
  --primary-color: rgb(20, 22, 26);
  --secondary-color: rgb(255, 255, 255);
  --transition-time: 0.5s;
}

body,
html {
  overflow: hidden;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

table {
  width: 100%;
  table-layout: fixed;
  overflow-wrap: break-word;
}

table thead,
table tbody tr td {
  text-align: center;
}

input, textarea {
  border-radius: 14px;
  padding: .4em;
  outline: none;
  border: none;
}

.hr {
  height: 1px;
  border: 0;
  width: 90%;
  margin: 20px auto;
  background: #1d1d1d;
  background: radial-gradient(circle, #080808 0%, rgba(219, 219, 219, 0.144) 50%, rgba(209, 209, 209, 0) 100%);
}

/*
***********************************
CUSTOM BTN
***********************************
*/
.custom-btn {
  display: inline-block;
  font-weight: bold;
  border: 1px solid #5a5a5a;
  border-radius: 15px;
  padding: 0.5em;
  background-color: transparent;
}

.custom-btn:hover {
  background-color: var(--secondary-color);
}

body {
  height: 100vh;
  background: var(--body-bg);
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--primary-color);
}

/*
***********************************
MENU
***********************************
*/
.menu {
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
  overflow-y: auto;
  -webkit-transition: ease-in-out 0.22s;
  transition: ease-in-out 0.22s;
}

.menu .menu-item {
  margin-top: 20px;
  cursor: pointer;
  font-size: 1.6em;
}

.menu .menu-item:hover {
  font-weight: bold;
  color: var(--secondary-color);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.493);
  -webkit-transition: ease-in-out 0.22s;
  transition: ease-in-out 0.22s;
}

@media (min-width: 300px) and (max-width: 576px) {
  .menu .menu-item {
    margin-top: 20% !important;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .menu .menu-item {
    margin-top: 20% !important;
  }
}

.nav-link {
  font-weight: bold !important;
}

/*
***********************************
ESTIMATE
***********************************
*/
.estimates-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
  overflow: auto;
}

.estimate {
  height: 65vh;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 5%;
}

@media (min-width: 300px) and (max-width: 576px) {
  .estimate {
    height: 78vh;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .estimate {
    height: 78vh;
  }
}

.estimate-price {
  font-weight: bold;
}

label {
  width: 100%;
}

.estimate-tva {
  margin-bottom: 2em;
}

.estimate-line-line textarea {
  width: 380px;
}

.edit-estimate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.edit-estimate-content {
  height: 80vh;
  overflow-y: scroll;
  border-radius: 10px;
}

@media (min-width: 1280px) {
  .edit-estimate-content {
    border: solid var(--form-bg);
    padding: 3em;
  }
}

@media (min-width: 992px) and (max-width: 1280px) {
  .edit-estimate-content {
    border: solid var(--form-bg);
    padding: 3em;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .edit-estimate-content {
    border: solid var(--form-bg);
    padding: 3em;
  }
}

@media (min-width: 300px) and (max-width: 576px) {
  .edit-estimate-content {
    padding: 2em;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .edit-estimate-content {
    padding: 2em;
  }
}

.tags {
  margin: 20px;
}

.add-estimate-line-btn {
  display: table-cell;
}

/*
***********************************
USER INFOS
***********************************
*/
@media (min-width: 300px) and (max-width: 576px) {
  .user-infos {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .user-infos {
    display: none;
  }
}

.user-infos,
.customer-infos {
  line-height: 0.8em;
}

/*
***********************************
BOOTSTRAP
***********************************
*/
.card {
  background-color: var(--form-bg) !important;
  margin-bottom: 2em;
}
/*# sourceMappingURL=style.css.map */