@import "./responsive";
@import "./settings";

/*
***********************************
LOGO
***********************************
*/
.logo img {
    width: 88px;
}

/*
***********************************
NAV
***********************************
*/
.nav-item,
.nav-link {
    font-weight: bold;
}

/*
***********************************
MENU
***********************************
*/
.menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    transition: ease-in-out 0.22s;
}

.home-section {
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home-section-5 {
    @include xl {
        width: 25% !important;
    }
    @include lg {
        width: 25% !important;
    }
    @include md {
        width: 25% !important;
    }
    span {
        margin-bottom: 25px;
    }
}

.home-big-title {
    font-size: 2.5em;
    color: var(--primary-color);
}

.home-arrow-link {
    display: block;
    text-align: center;
    margin-top: 5%;
}

.arrow-down {
    width: 15%;
    transform: scale(1);
    transition: ease-in-out .2s;
    &:hover {
        transform: scale(1.3);
    }
}


/*
***********************************
FLEX
***********************************
*/
.flex-center-section {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    overflow: auto;
}

/*
***********************************
ESTIMATE
***********************************
*/

/*FILTER*/
.filter-form {
    display: flex;
    align-items: center;
}
.filter-form-flex {
    display: flex;
    margin-left: 20px;
    div {
        margin-right: 30px;
    }
}

.new-estimate-form {
    display: flex;
    flex-direction: column;
    .tags li div div {
        margin-top: 15px;
    }
}

.flex-center-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    overflow: auto;
}

.estimate {
    height: 65vh;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 5%;
    @include xs {
        height: 78vh;
    }
    @include sm {
        height: 78vh;
    }
}

.estimate-price {
    font-weight: bold;
}

label {
    width: 100%;
}

.estimate-tva {
    margin-bottom: 2em;
}

.estimate-line-line textarea {
    width: 380px;
}

.edit-estimate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-border-content {
    height: 80vh;
    overflow-y: scroll;
    border-radius: 10px;
    background-color: var(--container-color);
    color: var(--secondary-color);
    @include xl {
        border: solid var(--form-bg);
        padding: 3em;
    }
    @include lg {
        border: solid var(--form-bg);
        padding: 3em;
    }
    @include md {
        border: solid var(--form-bg);
        padding: 3em;
    }
    @include xs {
        padding: 2em;
    }
    @include sm {
        padding: 2em;
    }
}

.tags {
    margin: 20px;
}

.add-estimate-line-btn {
    display: table-cell;
    color: var(--tertiary-color);
}

/*
***********************************
CUSTOMER
***********************************
*/
.customers-list {
    color: var(--primary-color);
    font-size: 1.3em;
}


/*
***********************************
USER INFOS
***********************************
*/
.user-infos {
    @include xs {
        display: none;
    }
    @include sm {
        display: none;
    }
}
.user-infos,
.customer-infos {
    line-height: 0.8em;
}

/*
***********************************
SEARCH & CONTROL
***********************************
*/
.main-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
        color: var(--secondary-color);
    }
}

/*
***********************************
FOOTER
***********************************
*/
.main-control {
    display: flex;
}

.footer-nav {
    margin-top: 10px
}

/*
***********************************
BOOTSTRAP
***********************************
*/
.card {
    background-color: var(--form-bg) !important;
    margin-bottom: 2em;
}