@import "./responsive";
@import "./settings";

body {
    height: 100vh;
    background: var(--body-bg);
    font-family: "Montserrat", sans-serif;
}

a {
 text-decoration: none;   
 color: var(--primary-color);
 
 &:hover {
     color: var(--secondary-color);
 }
}

/*
***********************************
MENU
***********************************
*/
.menu {
    overflow: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
    transition: ease-in-out .22s;
    transform: scale(1);
    .menu-item {
        margin-top: 20px;
        cursor: pointer;
        font-size: 1.6em;

        &:hover {
            font-weight: bold;
            color: var(--secondary-color);
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.493);
            transition: ease-in-out .22s;
            transform: scale(1.1);
        }

        @include xs {
            margin-top: 20% !important;
        }
        @include sm {
            margin-top: 20% !important;
        }
    }
}

.nav-link {
     font-weight: bold !important;
}
