{% extends 'base.html.twig' %}

{% block title %}Devis{% endblock %}

{% block body %}
<section class="menu">
    {% for estimate in estimates %}
    <div class="menu-item">
        <a href="{{ path('estimate', {'id' : estimate.id }) }}">
            {{ estimate.title }} - {{ estimate.date|date('d/m/y')}}
        </a>
    </div>
    {% endfor %}
    <hr class="hr">
    <a href="{{ path('home') }}" class="custom-btn">Retour</a>
</section>
{% endblock %}