{% extends 'base.html.twig' %}

{% block title %}Hello EstimateController!{% endblock %}

{% block body %}
<section class="menu">
    {% for estimate in estimates %}
    <div class="menu-item">
        <a href="{{ path('estimate', {'id' : estimate.id }) }}">
            {{ estimate.title }} - {{ estimate.date|date('d/m/y')}}
        </a>
    </div>
    {% endfor %}
</section>
{% endblock %}