{% extends 'base.html.twig' %}

{% block body %}
<section class="estimate">
    <div class="flex-right-left">
        <div class="flex-left">
            <div class="logo"></div>
        </div>
        <div class="flex-right">
            <div class="estimate-ref"></div>
        </div>
    </div>
    <h1>{{ estimate.title }}</h1>
</section>
{% endblock %}